@import '../../../variables';

.page-header {
  margin: 30px;
  font-size: $font-large;
  text-align: center;
  font-weight: bold;
  color: $accentCol;
}

.prefix {
  color: $grayCol;
  margin: 0 5px;
}

.form-wrap {
  text-align: center;

  .input-wrap {
    margin: 20px 0;
  }

  .mat-form-field {
    width: 100%;
  }
}

.split {
  margin: 300px ;
  //height: 100%;
  //width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: -100px;
  
}

.left {
  left: 0;
}

.right {
  right: 0;
}